body {
  margin: 0 auto;
  max-width: 650px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: bolder;
  color: #ff521d;
  font-size: 50px;
  border: solid #cecdd3 1px;
  padding: 12px;
  border-radius: 20px;
  background: rgba(249, 250, 250, 0.3);
  text-transform: capitalize;
}
h4,
.units {
  text-align: center;
}
button {
  color: #341de2;
  border-radius: 4px;
  font-size: smaller;
  font-family: "Roboto", sans-serif;
}

.submit,
.current-location {
  width: 100px;
  height: 38px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #dad2cf;
  margin-left: 20px;
  float: left;
}

#open-source {
  font-family: monospace;
}

#weather-icon,
.chance {
  text-align: center;
  display: block;
}

.weather-app {
  border: solid #cecdd3 2px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
#weather-icon,
.chance {
  margin-top: 60px;
  position: relative;
  top: 25px;
  color: #403e4d;
}

.chance,
.fa-sun {
  font-size: 30px;
}
#temperature {
  font-size: 50px;
  color: #84838a;
}
#weather-description {
  font-size: 30px;
}

.sunrise,
.sunset,
.col-1 {
  font-size: smaller;
  padding-right: 0;
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
  top: 30px;
  right: 20px;
}

#date-time,
#time {
  font-size: 16px;
  color: #403e4d;
  font-weight: bolder;
  position: relative;
  right: 20px;
  bottom: 10px;
  top: 20px;
}
#time {
  position: relative;
  right: 50px;
  bottom: 10px;
}
.row {
  margin-left: 35px;
}
.col {
  padding: 0;
  margin: 0px 0 10px 0;
}
#time {
  position: relative;
  left: 20px;
  top: 5px;
}
.units {
  margin-top: 40px;
}
.city {
  margin-top: 10px;
  text-align: left;
}
#search-bar {
  margin-top: 20px;
  margin-bottom: 15px;
}
.weather-forecast {
  max-width: 650px;
  margin-top: 20px;
  padding: 12px;
  border-radius: 20px;
  background: rgba(249, 250, 250, 0.932);
}

.weather-forecast h4 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
